# Игнорировать папки и файлы сборки
/build/
/debug/
/bin/
/out/
/output/

# Игнорировать файлы объектов и исполнимые файлы
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.dll

# Игнорировать сгенерированные файлы Visual Studio Code
.vscode/